@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@font-face {
	font-family: 'Vinitsia Sans';
	src: url('../fonts/VinnytsiaSansReg.woff2') format('woff2'), url('../fonts/VinnytsiaSansReg.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vinitsia Sans';
	src: url('../fonts/VinnytsiaSansBold.woff2') format('woff2'), url('../fonts/VinnytsiaSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
/* ==================================================================== */


body {
	font-family: 'Comfortaa';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Vinitsia Sans';
	font-weight: 700;
	font-size: 24px;
}


/* ========================HEADER======================= */
.header {
	background-color: #ccc;
	padding: 40px 0;
	text-align: center;
	margin-bottom: 150px;
	color: #555555;
}

.info__title {
	font-size: 28px;
	margin-bottom: 15px;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
	letter-spacing: 2px;
}

.info__subtitle {
	font-weight: 400;
}

.info__list li  {
	margin-top: 10px;
}

.info__link {
	font-style: italic;
}
/* ========================MAIN======================= */

.page {
	padding: 0 15px;
	background: #2b2b2b;
}

.page__club {
	color: #fff;
	line-height: 1.5;
	letter-spacing: 1.5px;
	margin-bottom: 100px;
}

.club__title {
	font-size: 32px;
	text-shadow: 3px 3px 4px #ccc;
	text-align: center;
	margin-bottom: 20px;
}

.page__club div {
	padding-bottom: 25px;
}

.block h3 {
	font-size: 28px;
	font-weight: 400;
}

.block p {
	text-indent: 20px;
	text-align: justify;
}

.young__text {
	text-decoration: underline;
}

.young__img {
	width: 100%;
}

.shachtar__text {
	color: #ffe4c4;
	text-shadow: 2px 2px 3px #f7c282;
}

.mancity__text {
	text-decoration: line-through;
}

.page__stats {
	text-align: center;
	color: #ff7f50;
	font-style: oblique;
	text-decoration: overline;
	margin-bottom: 200px;
}

.stats__title {
	font-size: 32px;
	margin-bottom: 30px;
	text-shadow: 4px 4px 6px #ffc4af;
}

.stats__text {
	line-height: 2;
	letter-spacing: 3px;
}

.page__achievments {
	color: #00ffff;
}

.achievments__title {
	font-size: 28px;
	text-shadow: 7px 4px 6px #1ebfbf;
}

.achievments__list {
	font-size: 20px;
	font-style: italic;
	padding-left: 20px;
}

.achievments__item {
	padding-bottom: 20px;
}